.my-space-around {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

//About Page Images
.img-about {
    display: flex;
    width: 250px !important;
    height: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 1.2px solid rgba(0, 0, 0, 0.1);
}
// end About page Images
