// Variables
@import "variables";

p {
    margin: 0;
}
.meta-wrapper {
    // Main config wrapper
    min-height: 100vh;
    margin: 0 auto -12rem; // Height of footer
    padding-bottom: 1rem;
}
.container {
    max-width: 1024px;
}
.jumbotron {
    margin-bottom: 0 !important;
}
.tc {
    // True Vertical Center
    margin-left: 50%;
    transform: translate(-50%);
}
.mw-20 {
    max-width: 20rem;
}
.mt-0 {
    margin-top: 0 !important;
}
.minw-100 {
    min-width: 100%;
}
.minh-40 {
    min-height: 18rem;
}
.f-row {
    display: flex;
    flex-direction: row !important;
}
.form-control {
    height: auto;
}
.row-force {
    display: flex;
    flex-direction: row;
}
.col-force {
    display: flex;
    flex-direction: column;
}
.pricing-header {
    max-width: 700px;
}
.card-deck .card {
    min-width: 220px;
}

// Tables
table > thead {
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.075);
}
// end Tables

// Products
.img-custom {
    // Product Image
    width: 18rem;
    max-width: 100%;
    height: 18rem;
    border-radius: 0.2rem;
}
// end Products

// Homepage Gallery
.gal-item {
    overflow: hidden;
    padding: 8px;
}
.gal-item .box {
    height: 100%;
    overflow: hidden;
}
.box img {
    height: 100%;
    width: auto;
    object-fit: cover;
}
//end Homepage Gallery

// Navbar
nav {
    width: 100%;

    ul {
        width: 100%;
        justify-content: space-between;
    }
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}
// end Navbar

// Admin Nav sidebar
.sidebar-item {
    padding: 0 0 0.5rem 1rem;
    margin-top: 0.6rem;
    border-bottom: 1.2px solid rgba(0, 0, 0, 0.1);
}
// end Admin Nav sidebar

// Admin Main
.img-thumb {
    display: inline-block;
    max-width: 10rem !important;
    height: 10rem;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 1.2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}
// end Admin Main

// Footer
footer,
.push {
    height: $footer-height;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}
// end Footer

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
.border-box {
    box-sizing: border-box;
}
// end Footer
