// Variables
@import 'variables';

h1, h2, h3, h4, h5, h6,
p { // Reset
  margin: 0;
  padding: 0;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.container { // Meta Container
  max-width: 1024px;
}

.wedge { // Forces page size.
  min-height: 70vh;
}

.tc { // True Vertical Center
  margin-left: 50%;
  transform: translate(-50%);
}
.mw-20 {
  max-width: 20rem;
}

// Products
.img-custom { // Product index
  width: 17rem;
  height: 17rem;
  border-radius: 0.250rem;
}

// Homepage gallery
.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}
//end



.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
// Navbar
nav {
  width: 100%;

  ul {
    width: 100%;
    justify-content: space-between;
  }
}

.border-bottom { 
  border-bottom: 1px solid #e5e5e5; 
}
// end

// Footer
.border-top { 
  border-top: 1px solid #e5e5e5; 
}


.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.border-box {
  box-sizing: border-box;
}