.container {
  max-width: 1024px;
}

.wedge {
  min-height: 70vh;
}

.tc {
  margin-left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.mw-20 {
  max-width: 20rem;
}

.img-custom {
  width: 17rem;
  height: 17rem;
  border-radius: 0.250rem;
}

.gal-item {
  overflow: hidden;
  padding: 8px;
}

.gal-item .box {
  height: 100%;
  overflow: hidden;
}

.box img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

nav {
  width: 100%;
}

nav ul {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.border-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

